doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel="icon" type="image/png" href="/images/favicon.png")
    <link href="/stylesheet/fon-awesome.min.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/306efd2e67.js"></script>

  body
    div(id="app")
    script(src= jsPath)